<html>
  <head>
    <title>Suburb Comparator</title>
    <link rel='stylesheet' href='/css/suburb-comparator_app_style.css' type='text/css' ></link>
  </head>
  <body>
    <h1>NZ Suburbs</h1>
    <h1>More Than You Want To Know About NZ suburbs</h1>
    <h3>look at these suburbs</h3>

    <%# for all suburbs%>
    <% suburbs.each do |suburb| %>
      <div class='suburb-display-tile'>
        <p> Suburb id: <%= suburb.id %> '<%= suburb.name %>' </p>
        <p>Region <%= suburb.region_id %> </p>
      </div>
    <% end %>
  </body>
</html>
