<html>
  <head>
    <title>Town Comparator</title>
    <style>
      p, h1, h2, h3, h4, ul, li, a, label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #157DA6;
        text-align: center;
      }
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Town Comparator</h1>
    <h3>Create a new town!</h3>
    <h4><a href='/'>All Towns</a></h4>
    <%# a form that can create a new town %>
    <form action='/towns' method='POST' class='centered'>
      <label>name</label>
      <input type='text' name='name' required/>
      <label>description</label>
      <input type='text' name='description' required/>
      <input type='submit' value='create new town' />
    </form>
  </body>
</html>
