<html>
  <head>
    <title>Town Comparator</title>
    <style>
      p, h1, h2, h3, h4, ul, li, a, label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #157DA6;
        text-align: center;
      }
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Town Comparator</h1>
    <h3>Edit a town!</h3>
    <h4><a href='/'>All Towns</a></h4>
    <%# a form that edits an existing town %>
    <form action='/towns/<%= town.id %>' method='post' class='centered'>
      <label>name</label>
      <input type='text' name='name' required value='<%= town.name %>' />
      <label>description</label>
      <input type='text' name='description' value='<%= town.description %>' required/>
      <input type='hidden' name='_method' value='put'>
      <input type='submit' value='edit town' />
    </form>
  </body>
</html>
